<h1>Početna strana</h1>
<br>
<div>
Ovo je mini projekat webapp-a razvijen pomoću Ruby on Rails-a. <br>
Frontend je dosta siromašan zato što mi je fokus bio isključivo na <br>
funkcionalnosti i upoznavanju sa specifičnostima ovog framework-a. <br><br>

Kratak opis:<br>
Ukoliko korisnik nije ulogovan moguće je samo prikazivanje podataka<br>
o zaposlenima iz baze podataka.<br>
Nakon kreiranja profila i logovanja pojavljuju se opcije za izmenu informacija<br>
o zaposlenima, brisanje zaposlenih, kao i stranica za upravljanje profilom.<br>


</div>
